[package]
name = "snail"
version = "0.1.0"
description = "Parasitic network manager"
authors = ["kpcyrd <git@rxv.cc>"]
license = "GPL-3.0"
repository = "https://github.com/kpcyrd/snail"
categories = ["command-line-utilities"]
readme = "README.md"

[[bin]]
name = "snaild"
path = "src/bin/snaild.rs"
doc = false
test = false

[[bin]]
name = "snailctl"
path = "src/bin/snailctl.rs"
test = false

[dependencies]
failure = "0.1.1"
hlua-badtouch = "0.4.2"
structopt = "0.2"
colored = "1.6"
dbus = "0.6.1"
log = "0.4"
env_logger = "0.5"
toml = "0.4"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
kuchiki = "0.7"
regex = "1.0"
dhcp4r = "0.1.0"

# this conflicts with hyper-rustls 0.13
#trust-dns-resolver = { version = "0.9", features = ["dns-over-rustls"] }
trust-dns-resolver = { version = "0.9", features = [] }
#trust-dns-server = "0.14"

reqwest = "0.8.6"
hyper = "0.12"
http = "0.1.5"
hyper-rustls = "0.13"
rustls = "0.12"
tokio-core = "0.1.17"
futures = "0.1"
ct-logs = "0.3"
webpki = "0.18.0-alpha"
webpki-roots = "0.14"

pktparse = "0.2.2"
nom = "3"
pnet = "0.21"
nix = "0.11"
zmq = "0.8.2"
seccomp-sys = "0.1.2"

[replace]
"hyper:0.12.1" = { path = "../../github/hyper" }

[dev-dependencies]
pseudo = "0.1.0"
boxxy = "0.6.0"
